<!-- View Companies Modal -->
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="card-body">
            <div class="page-header">
                <h4>Entity Details</h4>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-field-item">
                        <div class="profile-picture company-detail-head">
                            <div class="upload-profile">
                                <div class="profile-img company-profile-img">
                                    <a id="view-company-img" class="img-fluid me-0"
                                        href={{entity.logo}} alt="profile-img"></a>
                                </div>
                                <div class="add-profile">
                                    <h5>{{entity.name}}</h5>
                                    <span><a href="https://kanakku.dreamstechnologies.com/cdn-cgi/l/email-protection"
                                            class="__cf_email__"
                                            data-cfemail="2d65485f4041415f444e456d48554c405d4148034e4240">{{entity.email}}</a></span>
                                </div>
                            </div>
                            <span class="badge bg-success-light d-inline-flex align-items-center"><i
                                    class="fe fe-check me-1"></i>{{entity.status}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="plane-basic-info">
                        <h5>Basic Info</h5>
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <div class="basic-info-detail">
                                    <h6>Industry</h6>
                                    <p>{{entity.industry}}</p>
                                </div>

                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="basic-info-detail">
                                    <h6>Phone Number</h6>
                                    <p>{{entity.phone}}</p>
                                </div>

                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="basic-info-detail">
                                    <h6>Website</h6>
                                    <p>{{entity.website}}</p>
                                </div>

                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="basic-info-detail">
                                    <h6>Company Address</h6>
                                    <p>{{entity.street}},{{entity.city}}<br>{{entity.street}},{{entity.city}}</p>
                                </div>

                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="basic-info-detail">
                                    <h6> Registration Number</h6>
                                    <p>{{entity. registrationNumber}}</p>
                                </div>

                            </div>
                            
                        </div>
                    </div>

                </div>
                <div class="col-md-12">
                    <div class="plane-basic-info plane-detail">
                        <h5>Plan Details</h5>
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <div class="basic-info-detail">
                                    <h6>Plan Name</h6>
                                    <p>Enterprise</p>
                                </div>

                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="basic-info-detail">
                                    <h6>Plan Type</h6>
                                    <p>Yearly</p>
                                </div>

                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="basic-info-detail">
                                    <h6>Price</h6>
                                    <p>$200</p>
                                </div>

                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="basic-info-detail">
                                    <h6>Register Date</h6>
                                    <p>15 Jan 2024</p>
                                </div>

                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="basic-info-detail">
                                    <h6>Expiring On</h6>
                                    <p>15 Jan 2025</p>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>



        </div>
    </div>
</div>

<!-- /View Companies Modal -->