<form [formGroup]="puchaseOrderForm">
    <!-- Page Wrapper -->
    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="card mb-0">
                <div class="card-body">
                    <div class="page-header">
                        <div class="content-page-header">
                            <h5>Add Purchase Order</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group-item border-0 mb-0">
                                <div class="row align-item-center">
                                    <div class="col-lg-4 col-md-6 col-sm-12">
                                        <div class="input-block mb-3">
                                            <label>PO Number</label>
                                            <input type="text" formControlName="purchaseOrderID" class="form-control"
                                                placeholder="Enter PO Number">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-12">
                                        <div class="input-block mb-3">
                                            <label>Purchase Requisition Reference</label>
                                            <ul class="form-group-plus css-equal-heights">
                                                <li>
                                                    <select name="selectedbill" id="bill" class="form-control"
                                                    formControlName="reference">
                                                        <option value="">Select Obtion</option>
                                                        <option [value]="elt._id" *ngFor="let elt of requisitions," >{{ elt.requisitionID }}</option>
                                                    </select>
                                                </li>
                                                <li>
                                                    <a class="btn btn-primary form-plus-btn"
                                                        href="add-customer.html">
                                                        <i class="fe fe-plus-circle"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-12">
                                        <div class="input-block mb-3">
                                            <label>PO Date</label>
                                            <div class="cal-icon cal-icon-info">
                                                <input type="datetime" class="datepicker form-control"
                                                    formControlName="date" placeholder="DD/MM/YYYY">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-12">
                                        <div class="input-block mb-3">
                                            <label>PO Approval Date</label>
                                            <div class="cal-icon cal-icon-info">
                                                <input type="datetime" class="datepicker form-control"
                                                    formControlName="aprdate" placeholder="DD/MM/YYYY">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-12">
                                        <div class="input-block mb-3">
                                            <div class="input-block mb-0">
                                                <label>Price Quotation</label>
                                                <div class="input-block mb-3 service-upload service-upload-info mb-0">
                                                    <span><i class="fe fe-upload-cloud me-1"></i>Upload Quotation</span>
                                                    <input type="file" multiple="" (change)="onImageSelected($event)">
                                                    <div id="frames"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                            <form #productForm="ngForm">
                                <div class="form-group-item">
                                    <div class="card-table">
                                        <div class="card-body">
                                            <div class="table-responsive no-pagination">
                                                <table id="vieTab" class="table table-center table-hover datatable">
                                                    <thead class="thead-light">
                                                        <tr>
                                                            <th>Product / Service</th>
                                                            <th>Description</th>
                                                            <th>Quantity</th>
                                                            <th>H.T</th>
                                                            <th>TVA</th>
                                                            <th>Amount</th>
                                                            <th class="no-sort">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let product of products; let i=index">
                                                            <td><input type="text" class="form-control"
                                                                    [(ngModel)]="product.itemName"
                                                                    name="=productName" placeholder="Product/Service">
                                                            </td>
                                                            <td><input type="text" class="form-control"
                                                                [(ngModel)]="product.description" name="=description">
                                                        </td>
                                                            <td><input type="number" class="form-control"
                                                                    [(ngModel)]="product.quentity" name="=quantity">
                                                            </td>
                                                            <td><input type="number" class="form-control"
                                                                    [(ngModel)]="product.priceHT" name="=priceHT"
                                                                    (ngModelChange)="updateTTC(product)"></td>
                                                            <td><input type="number" class="form-control"
                                                                    [(ngModel)]="product.priceTVA" name="=priceTVA"
                                                                    (ngModelChange)="updateTTC(product)">
                                                            </td>
                                                            <td>{{product.priceTTC |currency}}</td>
                                                            <td class="d-flex align-items-center">
                                                                <a href="#" class="btn-action-icon"
                                                                    (click)="removeItem(i)"><span><i
                                                                            class="fe fe-trash-2"></i></span></a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    <button type="reset" class="btn btn-primary "
                                                        (click)="addItem()">Add Item</button>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="form-group-item border-0 p-0">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-12">
                                        <div class="form-group-bank">
                                            <div class="input-block mb-3">
                                                <label>Discount</label>
                                                <input type="text" formControlName="discount" class="form-control"
                                                    placeholder="Enter Discount">
                                            </div>
                                            <div class="input-block mb-3 notes-form-group-info">
                                                <label>Notes</label>
                                                <textarea class="form-control" formControlName="adjustments"
                                                    placeholder="Enter Notes"></textarea>
                                            </div>
                                            <div class="input-block mb-3 notes-form-group-info mb-0">
                                                <label>Terms and Conditions</label>
                                                <textarea class="form-control" formControlName="discountTerms"
                                                    placeholder="Enter Terms and Conditions"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-12">
                                        <div class="form-group-bank">
                                            <div class="invoice-total-box">
                                                <div class="invoice-total-inner">
                                                    <p>Taxable Amount <span>{{calcSum(products)|currency}}</span></p>
                                                    <p>Discount <span>{{puchaseOrderForm.value.discount |currency}}</span>
                                                    </p>

                                                </div>
                                                <div class="invoice-total-footer">
                                                    <h4>Total Amount
                                                        <span>{{calcAmount(products,puchaseOrderForm.value.discount)|currency}}</span>
                                                    </h4>
                                                </div>
                                            </div>
                                            <div class="input-block mb-3">
                                                <label>Signature Name</label>
                                                <input type="text" class="form-control" formControlName="approvedBy"
                                                    placeholder="Enter Signature Name">
                                            </div>
                                            <div class="input-block mb-0">
                                                <label>Signature Image</label>
                                                <div class="input-block mb-3 service-upload service-upload-info mb-0">
                                                    <span><i class="fe fe-upload-cloud me-1"></i>Upload Signature</span>
                                                    <input type="file" multiple="" id="image_sign">
                                                    <div id="frames"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="reset" class="btn btn-primary cancel me-2">Cancel</button>
                            <button type="reset" class="btn btn-primary cancel me-2">Save</button>

                            <input type="submit" class="btn btn-primary" value="Save & Send" (click)="addPO()">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Wrapper -->

    <!-- Add Tax & Discount Modal -->
    <div class="modal custom-modal fade" id="add_discount" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">
                <div class="modal-header border-0 pb-0">
                    <div class="form-header modal-header-title text-start mb-0 align-center">
                        <h4 class="mb-0">Add Tax & Discount</h4>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">

                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="input-block mb-3">
                                <label>Rate</label>
                                <input type="number" class="form-control" placeholder="120">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="input-block mb-3">
                                <label>Discount Amount</label>
                                <input type="number" class="form-control" placeholder="0">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="input-block mb-0">
                                <label>Tax</label>
                                <select class="select">
                                    <option>N/A</option>
                                    <option>IVA - (21%)</option>
                                    <option>IRPF - (-15%)</option>
                                    <option>PDV - (20%)</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer add-tax-btns">
                    <button type="reset" data-bs-dismiss="modal" class="btn btn-back cancel-btn me-2">Cancel</button>
                    <button type="submit" data-bs-dismiss="modal"
                        class="btn btn-primary paid-continue-btn">Save</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /Add Tax & Discount Modal -->





</form>